 .list{
        background-color: #A8F0EF;
        border-radius: 20px ; 
        border: 4px solid #009198 ;
        float: left  ; 
        width: 13% ;  
        font-size: 30;
        display: inline;
        height: auto;
        padding:20px  ;
        text-align: left;
        }   
.img{
    width: 150px; 
    height:150px ; 
    float:  right;
     /*padding: inherit*/
}
.para{
    background: #E8FAFA; 
    color: #2F7D81 ; 
    border: 6px solid #C5E7E8 ;
    float: right ;
    border-radius: 10px ;
    margin: 10px 0px 10px 10px  ;
    width: 75%; 
    padding: 13px;
    /*text-align: left;*/
    
}
.container{
    width:80% ; 
    margin: auto;
}
.paragph{
    width: inherit;
    
}
#heading{
    background-color: #A8F0EF;
    text-align: right; 
    color: #18838D ; 
    width:  auto; 
    font-family: serif;
    /*padding: 10px ;*/ 

}
heading span {
    font-size: 25px ;
} 
#lable{
    color: #078C93;
    padding-right: 30px
}
.dash {
    border-bottom-style: dashed;
}
